

<div class = 'row' >
                 <div class='col-sm-2 '>
                  <ul class="category-list"  >
                    <li  (click) = "getList('appetizer')"  >Appetizer</li>
                    <li  (click) = "getList('soup')">Soup</li>
                    <li  (click) = "getList('chopsuey')"  >Chop Suey (Bean Sprout)</li>
                    <li  (click) = "getList('rice')" >Rice</li>
                    <li (click) = "getList('noodle')" >Noodles</li>
                    <li  (click) = "getList('poultry')">Chicken</li>
                    <li  (click) = "getList('beef')">Beef</li>
                    <li  (click) = "getList('pork')">Pork & SpareRibs</li>
                    <li  (click) = "getList('sweetnsour')">Sweet & Sour</li>
                    <li  (click) = "getList('spicy')">Hot & Spicy</li>
                    <li  (click) = "getList('vegetable')">Vegetables</li>
                    <li  (click) = "getList('seafood')">Seafood</li>
                    <li  (click) = "getList('chef')">Chef's Suggestions</li>
                    <li  (click) = "getList('eggfooyong')">Egg Foo Young</li>
                    
                    <li (click) = "getList('combo')" >Combo for One </li>
                    <li (click) = "getList('family')">Family Dinners</li>
                    
                  
                  </ul>
                </div>  

                <div class='col-sm-5 '>
                  <h3><b>{{category}}</b></h3>
                  <p *ngIf = 'category == "Combo For One" || category =="Family Dinners" '>(No Discount or Substitutions)</p>
                    <table class="table table-striped" >
                      <thead>
                      <tr>
                        <th> # </th>
                        <th class ="name-width"> Name </th>
                        <th align=right> price </th>
                        <th>  </th>
                      </tr>
                      </thead>
                        <tbody  >
                        <tr *ngFor= 'let item of foodItemList'>
                          <th scope = "row"> {{item.food_id}}</th>
                          <td class ="name-width">{{item.food_name}}
                            <img *ngIf= "item.spicy==true" src="./assets/images/nature/chili.png" alt="chili" width="5%" height="0.8%">

                            <br/>
                            
                              <h5 class="font" *ngIf = 'item.Details!="" '><div *ngFor ='let detail of item.Details'>{{detail}}</div></h5> 
                            
                          </td>
                          <td align=right>{{item.price}}</td>
                            <td> <button type="button" class="btn btn-primary btn-sm" (click)="add(item)">Add</button></td>
                          
                        </tr>
                      </tbody>  
                    </table>
                  </div> 


              <div class="col-sm-5 "   >
                <div class = "floating-box ">
                <p> Price Checker</p>                  
                      <table  style="  box-sizing: border-box;" >
                         <ol style="margin-left:-15px; "> 
                        <thead>
                            <tr >
                              <th class="i"> Item </th>
                              <th class="q"> Quantity </th>
                              <th class="a"> Amount </th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody  >
                            <ng-container *ngFor='let item of priceCheckerList; let i = index ;'>
                                 <tr  *ngIf = "item.quantity>0"> 
                                      <th scope = "row" style="max-width:220px"><li>{{item.name}}</li></th>
                                      
                                        
                                        <td><button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true" (click) = "plus(item,i)"></span> 
                                              </button>
                                                        {{item.quantity}} 
                                              <button type="button" class="btn btn-default btn-sm">
                                              <span class="glyphicon glyphicon-minus" aria-hidden="true" (click) = "minus(item,i)"></span> 
                                              </button></td>
                                        <td align=right >{{item.price * item.quantity | currency:'USD':true:'1.2-2'}}</td>
                                         <td style="padding-left: 10px"> <button type="button" class="btn btn-danger btn-sm" (click)="remove(item,i)">Remove</button></td>
                                    </tr>
        
                                </ng-container>

                                   <tr class="borderTop" >
                                    <td></td>
                                    <td >Subtotal:</td>
                                    <td  ><b> {{ getSubTotal() | currency:'USD':true:'1.2-2'}}</b></td>
                                    <td></td>
                                  </tr>
                                  <tr align=right>
                                    <td></td>
                                    <td>Tax:</td>
                                    <td ><b> {{ getTax() | currency:'USD':true:'1.2-2'}}</b></td>
                                    <td></td>
                                  </tr>
                                  <tr align=right>
                                    <td></td>
                                    <td>Total:</td>
                                    <td ><b>{{ getTotalAmount() | currency:'USD':true:'1.2-2'}}</b></td>
                                    <td></td>
                                  </tr> 

                           </tbody>
                                 </ol> 
                        </table>
</div>
                                                                <div class="note" >  
                                          <h3><b>Note:</b></h3>             
                                    <p >{{reference}}</p>
                                    <p >{{allergies}}</p>
                                    <p >{{change}}</p>
                                        </div>
                
              </div>
              
             
             
</div>



