<div class = 'row'>
      <div class='col-sm-6 '>
                  <p>
                    <b>4532 Kingston Rd, Scarborough, ON</b>
                    <br/>
                    (N.E. Corner of Kingston & MorningSide)
                  </p>



                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                 
         </div>

                  <div class='col-sm-6 pad'>
                   <h3> Free Local Delivery on Orders over $20 before Tax!
                    <br/>
                    Please call us for inquiry: 416-284-2020</h3>
                    <br/>
                    <br/>

 

                    <table>
                      <thead><h4><b>Business Hours</b></h4></thead>
                       <h5> <tbody>
                        <tr>
                        <td>Monday-Thursday:</td><td> 4:00pm - 12:00am</td>
                        </tr>
                                              <tr>
                        <td>Friday-Saturday:</td><td> 3:00pm - 1:00am</td>
                        </tr>
                                              <tr>
                        <td>Sunday: </td><td>3:00pm - 10:30am</td>
                        </tr>
                        </tbody></h5>
                    </table>
                  </div>
</div>


